<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="accordion" id="accordion1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="purpose_heading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_item1" aria-expanded="false" aria-controls="purpose_item1">Formål</button>
                </h2>
                <div id="purpose_item1" class="accordion-collapse collapse" aria-labelledby="purpose_heading1" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        Dette produkt skal benyttes af holdledere, trænere og entusiaster, der ønsker at danne sig et overblik over, hver spillers performance. <br/>
                        Ud fra dette produkt, skal en træner kunne vurdere, hvor der skal sættes ekstra ind, for individuelle spillere, at kunne opnå spillerne bedste perfomance. <br/>
                        Et scenarie f.eks:
                        En bagspiller, spiller 20 minutter hver halvleg, og starter ud med at have en lav performance. Hvordan kan det være? Med dette produkt kan man så se; spilleren starter ude de første 10 minutter af kampen og når at blive kold, inden spilleren skal ind. <br/>
                        En løsning kan være at spilleren starter inde, eller har nogle redskaber med som kan holde spilleren varm. Det skal dog lige siges, dette produkt, vil <strong>IKKE</strong> fortælle brugeren om løsningen til problemet. Det vil blot give et bedre overblik over, hvor problemerne kan ligge.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="purpose_heading2">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_item2" aria-expanded="false" aria-controls="purpose_item2">Projekt</button>
                </h2>
                <div id="purpose_item2" class="accordion-collapse collapse" aria-labelledby="purpose_heading2" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <h3>Fag</h3>
                        62413 - Avanceret Objektorienteret Programmering med C# og .NET <br/>
                        <h3>Gruppemedlemmer</h3>
                        s195479 - Simon Lindhard Fridolf <br/>
                        s173255 - Simon Søborg
                        <h3>System detaljer</h3>
                        Projektet er udviklet i ASP.Net 3.1 Core, ved brug af C#, SQL, Razor Pages samt HTML5, CSS3 (Bootstrap) og Javascript <br/>
                        Ideen for produktet kommer af privat interesse, hvor det var oplagt, på baggrund af de frie tøjler, givet af projektstiller, at prøve at implementere ideen. <br/>
                        Vi har valgt at implementere muligheden for at logge ind via OAuth, altså eksterne login service providers såsom Google, Facebook og Twitter. Det har vi gjort, da det giver en mere sikker login løsning og vi gemmer kun absolut det mest nødvendige data. <br/>
                        Produktet, virker i de fleste browsers, bortset fra Internet Explorer.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="purpose_heading3">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_item3" aria-expanded="false" aria-controls="purpose_item3">Hvordan virker StatTrack?</button>
                </h2>
                <div id="purpose_item3" class="accordion-collapse collapse" aria-labelledby="purpose_heading3" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="purpose_sub_heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_sub_item1" aria-expanded="false" aria-controls="purpose_sub_item1">Oprettelse af Bruger</button>
                                </h2>
                                <div id="purpose_sub_item1" class="accordion-collapse collapse" aria-labelledby="purpose_sub_heading1" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="purpose_sub_heading2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_sub_item2" aria-expanded="false" aria-controls="purpose_sub_item2">Oprettelse af Hold</button>
                                </h2>
                                <div id="purpose_sub_item2" class="accordion-collapse collapse" aria-labelledby="purpose_sub_heading2" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="purpose_sub_heading3">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#purpose_sub_item3" aria-expanded="false" aria-controls="purpose_sub_item3">Kamp</button>
                                </h2>
                                <div id="purpose_sub_item3" class="accordion-collapse collapse" aria-labelledby="purpose_sub_heading3" data-bs-parent="#accordion2">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>