@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>På denne side, gemmer vi de oplysninger som er nødvendige for at en bruger vil kunne logge ind og benytte sig af funktionaliteterne.</p>
<p>Vi gemmer også spiller data som brugerne selv indtaster, og spiller data slettes igen når brugeren der har oprettet spillerne, selv sletter spilleren.</p>