.btn { margin: .10rem; }

.overall_row { justify-content: center; }

.timeContainer {
    justify-content: center;
    width: 50%;
}

#timer {
    font-family: Lato;
    font-size: 38pt;
    font-weight: 300;
}

.scoreForm {
    text-align: center !important;
    width: 25% !important;
}

.teamForm { width: 75% !important; }

.ctnr_nopadding { padding: 0; }