/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn-outline-facebook {
    color: #4267B2 !important;
    background-color: transparent !important;
    border-color: #4267B2 !important;
}

.btn-outline-facebook:hover {
    color: #304c82 !important;
    background-color: #8fa7d6 !important;
    border-color: #304c82 !important;
}

.btn-outline-twitter {
    color: #1DA1F2 !important;
    background-color: transparent !important;
    border-color: #1DA1F2 !important;
}

.btn-outline-twitter:hover {
    color: #085c91 !important;
    background-color: #9fd7f9 !important;
    border-color: #085c91 !important;
}

.btn-outline-google {
    color: #DB4437 !important;
    background-color: transparent !important;
    border-color: #DB4437 !important;
}

.btn-outline-google:hover {
    color: #c23124 !important;
    background-color: #f7d7d4 !important;
    border-color: #c23124 !important;
}