@{
    ViewData["Title"] = "Kamp";
}

<script src="js/game.js" language="javascript" type="text/javascript"></script>

<div class="container">
    <div class="row overall_row">
        <div class="col-4">
            <!-- My Club Name and score -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Mit hold navn">
                <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- Set årgang & Række, dropdowns -->
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- Penalty button, modal -->
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Timer -->
            <div class="container timeContainer">
                <input class="gametimer" id="timer" placeholder="00:00" aria-disabled="True"/>
            </div>
            
            <div class="row overall_row">
                <div class="col-4">
                    <!-- Start time, stop time Buttons-->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button id="startBtn" type="button" class="btn btn-outline-success" onclick="startTimer">Start</button>
                        <button id="stopBtn" type="button" class="btn btn-outline-danger" onclick="stopTimer">Stop</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Opponent Club Name and score -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Modstander hold navn">
                <input type="text" class="form-control" placeholder="0">
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- Set årgang & Række, dropdowns -->
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- Penalty button, modal -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Tabel for all players -->
    </div>

</div>