@using StatTrack.Logic
@{
    var data = new DataHandler();
    // Get player stats
    List<PlayerStatsModel> currentSeason = data.GetCurrentSeasonPlayerStats(Model.Id);
    List<PlayerStatsModel> overAllData = data.GetOverAllPlayerStats(Model.Id);

}

@if (overAllData != null)
{
    <div class="row justify-content-md-start">
        <div class="container">
            <div class="col-12">
                <h2>Spillerstatistik for nuværende sæson</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Kampe
                        </th>
                        <th>
                            Skudforsøg
                        </th>
                        <th>
                            Mål
                        </th>
                        <th>
                            Scoringsprocent
                        </th>
                        <th>
                            Assists
                        </th>
                        @if (Model.PlayerPosition == "Målvogter")
                        {
                            <th>
                                Redninger
                            </th>
                        }
                        <th>
                            Udvisninger (2 min)
                        </th>
                        <th>
                            Gulekort
                        </th>
                        <th>
                            Rødekort
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var amountOfPlayedGames = 0;
                        var amountOfAttempts = 0;
                        var amountOfGoals = 0;
                        var amountOfSaves = 0;
                        var amountOf2Mins = 0;
                        var amountOfYellow = 0;
                        var amountOfRed = 0;
                        var amountOfAssists = 0;

                        foreach (var item in currentSeason)
                        {
                            amountOfPlayedGames += 1;
                            amountOfAttempts += item.Attempts;
                            amountOfAssists += item.Assists;
                            amountOfGoals += item.Goals;
                            amountOfSaves += item.KeeperSaves;
                            amountOf2Mins += item.Mins2;
                            amountOfYellow += item.Yellowcards;
                            amountOfRed += item.Redcards;
                        }
                    }
                    <tr>
                        <td id="amountOfPlayedGamesCurrent">
                            @amountOfPlayedGames
                        </td>
                        <td id="amountOfGoalAttemptsCurrent">
                            @amountOfAttempts
                        </td>
                        <td id="amountOfGoalsCurrent">
                            @amountOfGoals
                        </td>
                        <td>
                            @{
                                var percentageCurrentSeason = amountOfGoals / (double) amountOfAttempts * 100;
                            }
                            (@amountOfGoals/@amountOfAttempts) | @percentageCurrentSeason.ToString("0.00")%
                        </td>
                        <td id="amountOfAssistsCurrent">
                            @amountOfAssists
                        </td>
                        @if (Model.PlayerPosition == "Målvogter")
                        {
                            <td id="amountOfSavesCurrent">
                                @amountOfSaves
                            </td>
                        }
                        <td id="amountOf2MinsCurrent">
                            @amountOf2Mins
                        </td>
                        <td id="amountOfYellowCardsCurrent">
                            @amountOfYellow
                        </td>
                        <td id="amountOfRedCardsCurrent">
                            @amountOfRed
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-4">
            <canvas id="StatChart1"></canvas>
        </div>
        @if (Model.PlayerPosition == "Målvogter")
        {
            <div class="col-4">
                <canvas id="StatChartKeeper"></canvas>
            </div>
        }
    </div>

    <div class="row justify-content-md-start">
        <div class="container">
            <div class="col-12">
                <h2>Spillerstatistik for alle sæsoner</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Kampe
                        </th>
                        <th>
                            Skudforsøg
                        </th>
                        <th>
                            Mål
                        </th>
                        <th>
                            Scoringsprocent
                        </th>
                        <th>
                            Assists
                        </th>
                        @if (Model.PlayerPosition == "Målvogter")
                        {
                            <th>
                                Redninger
                            </th>
                        }
                        <th>
                            Udvisninger (2 min)
                        </th>
                        <th>
                            Gulekort
                        </th>
                        <th>
                            Rødekort
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var amountOfPlayedGamesAll = 0;
                        var amountOfAttemptsAll = 0;
                        var amountOfGoalsAll = 0;
                        var amountOfSavesAll = 0;
                        var amountOf2MinsAll = 0;
                        var amountOfYellowAll = 0;
                        var amountOfAssistsAll = 0;
                        var amountOfRedAll = 0;

                        foreach (var item in overAllData)
                        {
                            amountOfPlayedGamesAll += 1;
                            amountOfAttemptsAll += item.Attempts;
                            amountOfGoalsAll += item.Goals;
                            amountOfSavesAll += item.KeeperSaves;
                            amountOf2MinsAll += item.Mins2;
                            amountOfAssistsAll += item.Assists;
                            amountOfYellowAll += item.Yellowcards;
                            amountOfRedAll += item.Redcards;
                        }

                    }
                    <tr>
                        <td id="amountOfPlayedGamesOverAll">
                            @amountOfPlayedGamesAll
                        </td>
                        <td id="amountOfGoalAttemptsOverAll">
                            @amountOfAttemptsAll
                        </td>
                        <td id="amountOfGoalsOverAll">
                            @amountOfGoalsAll
                        </td>
                        <td>
                            @{
                                var percentageOverAll = amountOfGoalsAll / (double) amountOfAttemptsAll * 100;
                            }
                            (@amountOfGoalsAll/@amountOfAttemptsAll) | @percentageOverAll.ToString("0.00")%
                        </td>
                        <td id="amountOfAssistsOverAll">
                            @amountOfAssistsAll
                        </td>
                        @if (Model.PlayerPosition == "Målvogter")
                        {
                            <td id="amountOfSavesOverAll">
                                @amountOfSaves
                            </td>
                        }
                        <td id="amountOf2MinsOverAll">
                            @amountOf2MinsAll
                        </td>
                        <td id="amountOfYellowCardsOverAll">
                            @amountOfYellowAll
                        </td>
                        <td id="amountOfRedCardsOverAll">
                            @amountOfRedAll
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">
            <canvas id="StatChartOverall"></canvas>
        </div>
        @if (Model.PlayerPosition == "Målvogter")
        {
            <div class="col-4">
                <canvas id="StatChartKeeperOverall"></canvas>
            </div>
        }
    </div>
}