@using Microsoft.AspNetCore.Identity
@using StatTrack.Logic
@model StatTrack.Models.TeamViewModel


<div class="container">
    <div class="row">

        <div class="col-6">
            <h2>Mine hold</h2>
            @await Html.PartialAsync("/Views/Team/_PartialLoadTeam.cshtml", Model.TModels)
        </div>

        <div class="col-md-4 offset-md-2">
            <h2>Opret et nyt Hold</h2>
            @await Html.PartialAsync("/Views/Team/_PartialCreateTeam.cshtml", Model.TModel)
        </div>
    </div>
    </div>
