@using Microsoft.AspNetCore.Identity
@using StatTrack.Logic
@model StatTrack.Models.TeamViewModel

@{
    ViewData["Title"] = "Team";
}


<div class="container">
    <div class="row">

        <div class="col-6 offset-md-1">
            <h2>Mine hold</h2>
            @await Html.PartialAsync("/Views/Team/_PartialLoadTeam.cshtml", Model.TModels)
        </div>

        <div class="col-md-4">
            @await Html.PartialAsync("/Views/Team/_PartialCreateTeam.cshtml", Model.TModel)
        </div>
    </div>
    <div class="row">

        <div class="col-6 offset-md-1">
        </div>

        <div class="col-md-4">
            <h2>Mine spillere</h2>
        </div>
    </div>
</div>
