@using Microsoft.AspNetCore.Identity
@using StatTrack.Logic
@model StatTrack.Models.TeamViewModel


<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Opret et nyt Hold</h2>
            @await Html.PartialAsync("/Views/Team/_PartialCreateTeam.cshtml", Model.TModel)
        </div>

        <div class="col-2">
            
        </div>

        <div class="col-6">
            <h2>Alle mine Hold</h2>

            @await Html.PartialAsync("/Views/Team/_PartialLoadTeam.cshtml", Model.TModels)
        </div>
    </div>
    </div>
